APP_PORT=8010

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=dev
DB_PASSWORD=password
DB_NAME=djm_erp

JWT_SECRET=your_access_token_secret
JWT_EXPIRATION_HOURS=1

JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_REFRESH_EXPIRATION_HOURS=168

API_KEY=your_api_key_here
DEV_KEY=your_dev_key_here
ALLOWED_IPS=127.0.0.1,your_server_ip

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_PREFIX=djm_api:
